<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoAgencia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoAgencia.styles.css" asp-append-version="true" />
</head>
<body>
    </header>
    <header>
        <nav class="menu"> 
            <ul class="links">
                <li class="ref"><a class="ancora"  href="index.html">principal
                    <li class="ref"><a class="ancora" href="destino.html">destino</a></li>
                    <li class="ref"><a class="ancora" href="promoçoes.html">promoçoes</a></li>
                    <li class="ref"><a class="ancora" href="contato.html">contato</a></li>


                </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article class="art">
                <form class="form">
                    <label for="nome">nome</label><br>
                    <input type="text">
                    <br>
                    <label for="nascimento">data</label><br>
                    <input type="date">
                    <br>
                    <label for="cpf">cpf</label><br>
                    <input type="text">
                    <br>
                    <label for="email">email</label><br>
                    <input type="email">
                    <br> 
                </form>
                <div class ="div">
                    <input type="button" value="Enviar" >
                    </div>
            </article>
        </section>
    </main>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ProjetoAgencia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
