
 <main>
    </header>
    <section>
            <article class="art" style="text-align: center;">
                <h1 style="text-align: center;">Destinos</h1>
                <p>Argentina - valor: 900,00</p>
                <p>EUA - VALOR: 2000,00</p>
                <p>PORTUGAL - valor: 3250,00</p>
                <p>INGLATERRA - valor: 4890,00</p>
                <p>FRANÇA - valor: 4520,00</p>
                <p>CHINA - valor: 5400,00</p>
                <p>JAPAO - valor: 6900,00</p>
                <p>COREIA DO NORTE - valor: 10800,00</p>
                <p>ALEMANHA - valor: 4100,00</p>
                <p>AFRICA DO SUL - valor: 5200,00</p>
            </article>
        </section>
    </main>
