@{
    ViewData["Title"] = "Home Page";
}

>
    <main>
        <section>
            <article class="art">
                <form class="form">
                    <label for="nome">nome</label><br>
                    <input type="text">
                    <br>
                    <label for="nascimento">data</label><br>
                    <input type="date">
                    <br>
                    <label for="cpf">cpf</label><br>
                    <input type="text">
                    <br>
                    <label for="email">email</label><br>
                    <input type="email">
                    <br> 
                </form>
                <div class ="div">
                    <input type="button" value="Enviar" >
                    </div>
            </article>
        </section>
    </main>
